.footer-custom {
    background: #588157;
    color: #DAD7CD;
}

nav {
    background-color: #344E41;
    color: #344E41;
    padding: 10px;
}

.navbar.fixed-top {
    height: 60px;
}

.fixed-bottom {
    height: 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

.link {
    color: #344E41;
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    color: #344E41;
}

.btnCart {
    background-color: transparent;
    border: none;
    color: #344E41;
}

.logo:hover{
    color: #344E41;
    transform: scale(1.05);
}

.btnSession{
    background-color: #588157;
    border-color: #588157;
    color: #DAD7CD;
}

.btnSession:hover{
    background-color: #3A5A40;
    border-color: #3A5A40;
}